### One Hot Encoding

This technique converts the numerical feature into the sparse matrix

In [1]:
import numpy as np 
import pandas as pd 
from sklearn.preprocessing import OneHotEncoder

In [7]:
data=np.array(['Apple','Mango','blue berries','strawberry','avacado'])
data=pd.DataFrame(data)
data

              0
0         Apple
1         Mango
2  blue berries
3    strawberry
4       avacado

In [11]:
encoder=OneHotEncoder(sparse_output=False)
data_encoded=pd.DataFrame(encoder.fit_transform(data))
data_encoded

     0    1    2    3    4
0  1.0  0.0  0.0  0.0  0.0
1  0.0  1.0  0.0  0.0  0.0
2  0.0  0.0  0.0  1.0  0.0
3  0.0  0.0  0.0  0.0  1.0
4  0.0  0.0  1.0  0.0  0.0

In [15]:
data_concated=pd.concat([data,data_encoded],axis=1)
data_concated

              0    0    1    2    3    4
0         Apple  1.0  0.0  0.0  0.0  0.0
1         Mango  0.0  1.0  0.0  0.0  0.0
2  blue berries  0.0  0.0  0.0  1.0  0.0
3    strawberry  0.0  0.0  0.0  0.0  1.0
4       avacado  0.0  0.0  1.0  0.0  0.0

### Label Encoding

This technique converts the numerical features into numericals ( 0 to n-1) and its takes alphabetically order nature

In [20]:
data1=['abraham','charlie','babar','zain','Ely']
data1

['abraham', 'charlie', 'babar', 'zain', 'Ely']

In [21]:
from sklearn.preprocessing import LabelEncoder

label_encoder=LabelEncoder()
data1_encoded=label_encoder.fit_transform(data1)

data1_encoded

array([1, 3, 2, 4, 0], dtype=int64)

### Ordinal Encoding

This technique converts the numreical feature into numerical ( 0 to n-1) and we can explicitly give the order of the ranking

In [24]:
dict={
    'names':['afroze','nikhil','bhanu','vamshi','kundan'],
    'location':['hyderabad']*5,
    'size':['large','small','medium','extra large','medium']
}


data3=pd.DataFrame(dict)
data3

    names   location         size
0  afroze  hyderabad        large
1  nikhil  hyderabad        small
2   bhanu  hyderabad       medium
3  vamshi  hyderabad  extra large
4  kundan  hyderabad       medium

In [32]:
from sklearn.preprocessing import OrdinalEncoder
sizes=['small','medium','large','extra large']
order_encoder=OrdinalEncoder(categories=[sizes])

In [43]:
encoded_column=pd.DataFrame(order_encoder.fit_transform(data3[['size']]))
encoded_column

     0
0  2.0
1  0.0
2  1.0
3  3.0
4  1.0

In [45]:
data3_encoded=pd.concat([data3,encoded_column],axis=1)
data3_encoded

    names   location         size    0
0  afroze  hyderabad        large  2.0
1  nikhil  hyderabad        small  0.0
2   bhanu  hyderabad       medium  1.0
3  vamshi  hyderabad  extra large  3.0
4  kundan  hyderabad       medium  1.0